src/main/mule/demo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72d49f0e-5120-4136-b293-3dbc4f84f941" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo2Flow" doc:id="51c548b9-fd6b-4c1e-bd07-bf9629f7f895" >
		<http:listener doc:name="Listener" doc:id="52d7214a-eecc-4570-8cdf-316f710082b8" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='#["Hello World"]' doc:name="Set Payload" doc:id="b72c8841-5923-420d-8909-53873d89fd89" />
	</flow>
</mule>
